numpy
pandas
matplotlib
plotly
seaborn
jupyterlab
jupyterlab-server
jupyter-packaging
jupyter-server
ipywidgets
jupytext
papermill
nbconvert
ipykernel
streamlit
dash
dash_bootstrap_components
statsmodels
scikit-learn
xgboost
sklearn-pandas
scikit-misc
pycaret
pymc
pymc-marketing
gunicorn